%div#welcome
  .jumbotron
    %h1 Dream Team!
    %p.lead DreamTeam - тусовка для объединения людей в команды в соответствие с их ключевыми навыками и компетенциями. У нас есть возможности самоактуализации через занятие любимым делом. Мы формируем сверхуспешные команды для воплощения амбициозных проектов. Жир.
    %a.btn.btn-large.btn-primary.new_project Создать проект
    %a.btn.btn-large.btn-warning.projects Найти проект

%div#projects
%div#members